<li class="list-group-item">
  <div class="d-flex justify-content-between">
    <div>
      <strong><%= h(post.creator&.nickname.presence || post.user&.nickname.presence || '匿名') %></strong>
      <small class="text-muted ms-2"><%= post.created_at.in_time_zone(Time.zone).strftime('%Y/%m/%d %H:%M') %></small>
    </div>

    <div class="text-end">
      <% if current_user && (
            (post.respond_to?(:creator_id) && post.creator_id == current_user.id) ||
            (post.respond_to?(:user) && post.user == current_user)
          ) %>

        <%# Ajax 削除: remote: true を使うと Rails UJS 経由で destroy.js.erb が返ります %>
        <%= link_to '削除', forum_topic_post_path(post.topic.forum, post.topic, post),
                    method: :delete,
                    remote: true,
                    data: { confirm: '本当に削除しますか？' },
                    class: 'btn btn-sm btn-outline-danger' %>
      <% end %>
    </div>
  </div>

  <div class="mt-2">
    <%= simple_format(h(post.content || post.body || '')) %>
  </div>
</li>