<div class="mb-2 ms-2">
  <% sort_params = { title: 'タイトル順', created_at: '作成日順', posts_count: 'コメント数順' } %>
  <% sort_params.each do |key, label| %>
    <% selected = (params[:topic_sort] == key.to_s) %>
    <% direction = selected ? (params[:topic_direction] == 'asc' ? 'desc' : 'asc') : 'desc' %>
    <%= link_to "#{label}#{selected ? (params[:topic_direction] == 'asc' ? '↑' : '↓') : ''}", url_for(request.params.merge(topic_sort: key, topic_direction: direction)), class: (selected ? "fw-bold text-primary" : "") %>
    <% unless key == :posts_count %>｜<% end %>
  <% end %>
</div>